.select {
    position: relative;
    width: 100%;
    &:after, &:before{
        content: "";
        position: absolute;
        top: 23px;
        width: 10px;
        height: 2px;
        background: #5a5a5a;
        z-index: 2;
    }
    &:before{
        right: 14px;
        @include transform(rotate(-45deg));

    }
    &:after{
        right: 20px;
        @include transform(rotate(45deg));
    }
    select{
        padding: 12px 32px 12px 20px;
        font-size: 16px;
        line-height: 24px;
        color: $color-black;
        background-color: $color-white;
        border: 1px solid #ced4da;
        border-radius: 4px;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        background-image: none;
        background-clip: padding-box;
        height: 48px;
        font-family: $font-primary;
        max-width: 100%;
        @include transition(border-color 0.3s ease-in-out);
        &.error:invalid {
            border-color: #ed4d4d;
        }
        &:focus{
            border-color: $color-green;
        }
    }
}
