/* ---------------------------------- *\
		Form
\* ---------------------------------- */

textarea {
  resize: vertical;
  max-width: 100%;
  min-height: 120px;
}

input,
textarea {
  position: relative;
  font-family: $font-primary;
}

label {
  cursor: pointer;
}

@import "form/_default";

@import "form/checkbox";
@import "form/select";
@import "form/boxinput";
// @import "form/range";
// @import "form/color";
.input--hide{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  padding: 0;
  margin: 0;
}
