/* ---------------------------------- *\
    Links
\* ---------------------------------- */

a {
  color: $color-green;

  &:not(.btn):not(.card):hover {
    text-decoration: underline;
  }
}

.link {
  color: $color-green;

  &:not(.btn):hover {
    text-decoration: underline;
  }

  &--reverse {
    color: $color-black;

    &:hover {
      color: $color-green;
    }
  }
}

.cursor {
  cursor: pointer;
}

/*
.link {

}

.btn {

}
*/
